.app {
  display: flex;
  flex-direction: column;
  background: green;
  width: 100vw;
  height: 100vh;
}

.app header {
  width: 100%;
  background: white;
  color: black;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-container aside {
  text-align: center;
  width: 40%;
  outline: 2px solid white;
}